@import "../sass/utilities/variables";
@import "../sass/utilities/mixins";
@import "../sass/normalize/reset";
@import "../sass/general/footer";
@import "../sass/general/header";
@import "../sass/layout/galeria";
@import "../sass/layout/varios";
@import "../sass/mediaqueries/medias";
