* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    font-stretch: extra-expanded;
    color: rgb(214, 17, 17);
}

.imagen_principal {
    display: flex;
    justify-content: center;
}

header img {
    width: 150px
}

nav {
    text-align: end;
    width: 100%;
    columns: 1;
}

ul {
    list-style: none;
}


.imagen_principal img {
    margin: 1%;
    align-items: center;
    width: 30%;
    border-radius: 30%;
}

.img_galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    justify-content: center;
    align-items: center;
    transform: translate(10px, 10px);
}

.img_galeria img {
    width: 300px;
}

.img_galeria img:hover {
    border: 5px solid white
}

#galeria .col-lg-4 {
    padding: 20px;
}
#galeria img {
    width: 100%;
    height: 300px;
}
#galeria img:hover {
    border: 5px solid white
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: last baseline;
    position: absolute;
    bottom: 100;
    width: 100%;
}

.footer_abajo {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: last baseline;
    width: 100%;

}

@media (max-width: 720px) {
    .img_galeria {
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
    }

    .img_compras {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        max-width: 100%;
        align-items: center;
        
    }
    .imagen_principal img {
        margin: 1%;
        align-items: center;
        width: 60%;
        border-radius: 50%;
    }
}
@media (max-width: 480px) {
    .img_galeria {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        grid-gap: 10%;
        width: 300px;
    }
    .img_compras {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        max-width: 100%;
        align-items: center;
    }
    .imagen_principal img {
        margin: 1%;
        align-items: center;
        width: 50%;
        border-radius: 50%;
    }
}