* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}



header {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    font-stretch: extra-expanded;
    color: rgb(214, 17, 17);
}

.imagen_principal {
    display: flex;
    justify-content: center;
}

header img {
    width: 150px
}

nav {
    text-align: end;
    width: 100%;
    columns: 1;
}

ul {
    list-style: none;
}


.imagen_principal img {
    margin: 1%;
    align-items: center;
    width: 40%;
    border-radius: 50%;
}

.img_galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: rem;
    transition: height 1s;
    justify-content: center;
    align-items: center;
    transform: translate(10px, 10px);
}

.img_galeria img:hover {
    height: 400px;
    width: 400px;
}

.img_compras {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_compras img {width: 50%;}
.img_compras img:hover {width: 100%;}
footer {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: last baseline;
    position: absolute;
    bottom: 100;
    width: 100%;
}

.footer_abajo {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: last baseline;
    width: 100%;
    
}

@media (max-width 720px) {
    .productos
}