$primary: rgb(222, 222, 241);
$secondary: rgb(34, 2, 2);

$colores_basicos:(
    rojo: rgb(240, 34, 34),
    azul: rgb(37, 37, 201),
    verde: rgb(30, 168, 30),
    amarillo: rgb(241, 241, 33),
    gris: rgba(128, 128, 128, 0.774),
    negro: black,
);
