header {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    font-stretch: extra-expanded;
    color: rgb(214, 17, 17);
}
header img {
    @include ancho(150px);
    margin: 0;
}

nav {
    text-align: end;
    @include ancho(100%);
    columns: 1;
}
